name: Benchmark 1BRC

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  benchmark:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build project
        run: |
          javac -d out $(find src -name "*.java")

      - name: Run benchmark
        run: |
          cd out
          java --add-opens java.base/java.nio=ALL-UNNAMED dev.pig.obrc.pipeline.Runner

      - name: Commit Results
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add results.csv README.md
          git commit -m "Update benchmark results [skip ci]" || echo "No changes"
          git push
